.up {
	opacity: 0;
	transition: 0.5s;
	transform: translateY(50%);
}

.upAnimated {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

.left {
	opacity: 0;
	transition: 1s ease-out;
	transform: translateX(50%);
}

.leftAnimated {
	opacity: 1 !important;
	transform: translateX(0) !important;
}

.right {
	opacity: 0;
	transition: 1s ease-out;
	transform: translateX(-50%);
}

.rightAnimated {
	opacity: 1 !important;
	transform: translateX(0) !important;
}
