@use "@/app/base";

.contactSection {
  width: 100%;
  padding: 4rem 0;
  background: transparent;

  .contactDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: base.$primary;
    height: 100%;

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 2rem;

      h3 {
        text-transform: uppercase;
        color: white;
      }
      h2,
      p {
        color: white;
      }

      form {
        display: flex;
        max-width: 31.25rem;

        input[type="email"] {
          flex: 1;
          padding: 1.5rem;
          border: none;
          font-size: 1rem;

          &::placeholder {
            color: #666;
          }
        }

        button {
          background-color: base.$secondary;
          color: white;
          border: none;
          padding: 1.5rem;
          cursor: pointer;

          &:hover {
            background-color: base.$text;
          }
        }
      }
    }

    .imageContainer {
      flex: 1;

      img {
        width: 100%;
        height: 100% !important ;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
