@use '@/app/base';

.doubleSection {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
}

.green {
	background-color: base.$primary;
	padding: 0;

	* {
		color: white;
	}

	hr {
		background-color: white;
	}
}

.column {
	width: calc((100% - 2rem) / 2);
	display: flex;
}

.columnContent {
	width: min(calc(base.$maxWidth / 2), 45vw);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow: hidden;
}

.buttons {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.smallText {
	font-size: 0.825rem;
	font-style: italic;
}

.images {
	position: relative;
	aspect-ratio: 1 /1;
}

.image2 {
	position: absolute;
	width: 33%;
	aspect-ratio: 1 /1;
	bottom: 0;
	border-top: 1rem solid white;
}

.singleImage {
	position: relative;
	height: min(520px, 40vw);
	width: 100%;
}

.subscribeForm {
	display: flex;
	flex-wrap: wrap;

	input[type='email'] {
		font-size: 1rem;
		padding: 1rem 2rem;
		border: 0;
	}

	button {
		background-color: base.$secondary;
		border: 0;
		font-size: 1rem;
		padding: 1rem 2rem;
		cursor: pointer;
	}
}

@media screen and (max-width: 1024px) {
	.doubleSection {
		flex-direction: column-reverse !important;
	}

	.green {
		padding-bottom: 80px 0;
		background-color: white;

		p,
		h2 {
			color: base.$text;
		}

		h4 {
			color: base.$secondary;
		}

		hr {
			background-color: base.$primary;
		}
	}

	.subscribeForm {
		input[type='email'] {
			background-color: rgba($color: base.$primary, $alpha: 0.2);
		}
	}

	.column {
		width: 100%;
	}

	.columnContent {
		width: 90vw;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.images {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
}
