@use "@/app/base";

.header {
  min-width: 100%;
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.1s ease;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.header.hovered {
  background-color: white !important;
}

.welcomeMessage {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 0;
  padding: 0.5rem 0;
  color: white;
  background-color: base.$secondary;
  i {
    margin-right: 0.5rem;
    color: white;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .navigation {
    display: flex;
    flex-grow: 1;
  }
}

.logoWrapper {
  display: block;
  border: none;
  outline: none;
}

.logo {
  object-fit: contain;
  background-repeat: no-repeat;
  margin: 0;
  cursor: pointer;
  background-color: transparent !important;
}

.menuList {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.menuItemContainer {
  display: flex;
}
.menuItem {
  text-decoration: none;
  line-height: 1.2;
  &:hover {
    color: base.$primary;
  }
}

/* scrolled nav bar */
.scrolled {
  background-color: white !important;
}

/* SUBMENU */
.dropdown {
  position: absolute !important;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 99;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  &.open {
    pointer-events: auto;
  }
}
.dropdownContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.menuItemContainer:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.submenuTitle {
  justify-content: left;
  text-align: left;
}

.dropdownContent {
  margin-top: 2rem;
  a {
    display: block;
    padding: 0.5rem;
    background-color: white;
    text-align: left;
    text-decoration: none;
    line-height: 1.2;

    &:hover {
      text-decoration: underline;
      color: base.$primary;
    }
  }
}

.dropdownImageWrapper {
  flex: 1;
  display: flex;
  align-items: right;
  justify-content: right;
}

@media screen and (max-width: 1400px) and (min-width: 1025px) {
  .menuList {
    gap: 2rem;
  }
  .menuItem {
    font-size: 0.8rem;
  }
  .logo {
    width: 9.35rem;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    background-color: white;
  }
  .navigation {
    display: none !important;
    min-width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .navigation.open {
    display: flex !important;
    opacity: 1;
  }

  .logo {
    width: 150px;
    height: 50px;
  }

  .menuList {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
    width: 100%;
  }

  .menuItem {
    margin-left: 0 !important;
    color: black;
  }

  .dropdown {
    position: relative !important;
    font-size: 12px;
    display: none;
    left: 30%;
    box-shadow: none;
  }

  .hidden {
    display: none !important;
  }
  .mobileBtn {
    padding: 1rem 0;
  }
}
