.hero {
  position: relative;
  padding: 0;
  margin: 0 auto;
  object-fit: cover contain;
  .subtitle {
    text-transform: uppercase;
  }
  .title {
    max-width: 600px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(1440px, 90%);
    margin: 0 auto !important;

    &.layout1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      height: 100vh;

      .buttonWrapper {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
      }
    }
    &.layout2,
    &.layout3 {
      height: 350px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding-bottom: 1.5rem;
      margin-top: 3.2rem;
      .title {
        order: 2;
      }
      .subtitle {
        order: 1;
      }
    }
    &.layout2 {
      align-items: center;
      text-align: center;
      margin-bottom: auto;
    }
    &.layout3 {
      text-align: left;
      align-items: flex-start;
    }
  }
}
