@use '@/app/base';

.reviews {
	background-color: base.$primary;
	padding: 3rem 0;
}

.reviewsContainer {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.image {
	position: relative;
}
